In [2]:
# 라이브러리 불러오기
import pandas as pd

In [3]:
# 데이터 다운로드 및 압축풀기

# 날씨에 따른 따릉이 이용자 수 데이터
!wget 'https://bit.ly/3gLj0Q6'

import zipfile
with zipfile.ZipFile('3gLj0Q6', 'r') as existing_zip:
    existing_zip.extractall('data')

--2022-04-18 07:22:34--  https://bit.ly/3gLj0Q6
Resolving bit.ly (bit.ly)... 67.199.248.10, 67.199.248.11
Connecting to bit.ly (bit.ly)|67.199.248.10|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://drive.google.com/uc?export=download&id=1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E [following]
--2022-04-18 07:22:34--  https://drive.google.com/uc?export=download&id=1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E
Resolving drive.google.com (drive.google.com)... 172.253.123.139, 172.253.123.113, 172.253.123.102, ...
Connecting to drive.google.com (drive.google.com)|172.253.123.139|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-0c-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/k2pfrn75ctqo9eu0rl5j0h33fqrlqacp/1650266550000/17946651057176172524/*/1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E?e=download [following]
Warning: wildcards not supported in HTTP.
--2022-04-18 07:22:35--  https://doc-0c-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/k2pfrn75ctqo9eu0rl5j0h33fqrlqacp/1650266550000/17946651057176172524/*/1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E?e=download
Resolving doc-0c-10-docs.googleusercontent.com (doc-0c-10-docs.googleusercontent.com)... 74.125.26.132, 2607:f8b0:400c:c04::84
Connecting to doc-0c-10-docs.googleusercontent.com (doc-0c-10-docs.googleusercontent.com)|74.125.26.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 39208 (38K) [application/zip]
Saving to: ‘3gLj0Q6’

3gLj0Q6             100%[===================>]  38.29K  --.-KB/s    in 0s

2022-04-18 07:22:35 (127 MB/s) - ‘3gLj0Q6’ saved [39208/39208]

In [5]:
# pandas 로 train, test data 불러오기
train = pd.read_csv('data/train.csv') 
test = pd.read_csv('data/test.csv')

In [6]:
# train data 행렬 갯수 확인
train.shape

(1459, 11)

In [8]:
# test data 행 열 갯수 확인
test.shape

(715, 10)

In [10]:
# train 상위 10개 데이터 확인하기
train.head(10)

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,count
0,3,20,16.3,1.0,1.5,89.0,576.0,0.027,76.0,33.0,49.0
1,6,13,20.1,0.0,1.4,48.0,916.0,0.042,73.0,40.0,159.0
2,7,6,13.9,0.0,0.7,79.0,1382.0,0.033,32.0,19.0,26.0
3,8,23,8.1,0.0,2.7,54.0,946.0,0.040,75.0,64.0,57.0
4,9,18,29.5,0.0,4.8,7.0,2000.0,0.057,27.0,11.0,431.0
5,13,2,13.6,0.0,1.7,80.0,1073.0,0.027,34.0,15.0,39.0
6,14,3,10.6,0.0,1.5,58.0,1548.0,0.038,62.0,33.0,23.0
7,16,21,16.0,0.0,6.0,21.0,1961.0,0.050,90.0,28.0,146.0
8,19,9,13.8,0.0,1.9,64.0,1344.0,0.039,93.0,19.0,39.0
9,20,14,17.2,0.0,2.1,32.0,1571.0,0.025,64.0,19.0,83.0

In [19]:
train.columns

Index(['id', 'hour', 'hour_bef_temperature', 'hour_bef_precipitation',
       'hour_bef_windspeed', 'hour_bef_humidity', 'hour_bef_visibility',
       'hour_bef_ozone', 'hour_bef_pm10', 'hour_bef_pm2.5', 'count'],
      dtype='object')

In [13]:
# 결측치 확인
print(train.isnull())
print('\n--------------------------------train.csv 각 열 별 결측치 수--------------------------------\n')
print(train.isnull().sum())

         id   hour  hour_bef_temperature  hour_bef_precipitation  \
0     False  False                 False                   False
1     False  False                 False                   False
2     False  False                 False                   False
3     False  False                 False                   False
4     False  False                 False                   False
...     ...    ...                   ...                     ...
1454  False  False                 False                   False
1455  False  False                 False                   False
1456  False  False                 False                   False
1457  False  False                 False                   False
1458  False  False                 False                   False

      hour_bef_windspeed  hour_bef_humidity  hour_bef_visibility  \
0                  False              False                False
1                  False              False                False
2                  False              False                False
3                  False              False                False
4                  False              False                False
...                  ...                ...                  ...
1454               False              False                False
1455               False              False                False
1456               False              False                False
1457               False              False                False
1458               False              False                False

      hour_bef_ozone  hour_bef_pm10  hour_bef_pm2.5  count
0              False          False           False  False
1              False          False           False  False
2              False          False           False  False
3              False          False           False  False
4              False          False           False  False
...              ...            ...             ...    ...
1454           False          False           False  False
1455           False          False           False  False
1456           False          False           False  False
1457           False          False           False  False
1458           False          False           False  False

[1459 rows x 11 columns]

--------------------------------train.csv 각 열 별 결측치 수--------------------------------

id                          0
hour                        0
hour_bef_temperature        2
hour_bef_precipitation      2
hour_bef_windspeed          9
hour_bef_humidity           2
hour_bef_visibility         2
hour_bef_ozone             76
hour_bef_pm10              90
hour_bef_pm2.5            117
count                       0
dtype: int64

In [25]:
# 특정 column 결측치를 확인해보자
print(train['hour_bef_pm2.5'].isnull())
print('\n---hour_bef_pm2.5 column 결측 수---')
print(train['hour_bef_pm2.5'].isnull().sum())

0       False
1       False
2       False
3       False
4       False
        ...
1454    False
1455    False
1456    False
1457    False
1458    False
Name: hour_bef_pm2.5, Length: 1459, dtype: bool

---hour_bef_pm2.5 column 결측 수---
117

In [26]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1459 non-null   int64
 1   hour                    1459 non-null   int64
 2   hour_bef_temperature    1457 non-null   float64
 3   hour_bef_precipitation  1457 non-null   float64
 4   hour_bef_windspeed      1450 non-null   float64
 5   hour_bef_humidity       1457 non-null   float64
 6   hour_bef_visibility     1457 non-null   float64
 7   hour_bef_ozone          1383 non-null   float64
 8   hour_bef_pm10           1369 non-null   float64
 9   hour_bef_pm2.5          1342 non-null   float64
 10  count                   1459 non-null   float64
dtypes: float64(9), int64(2)
memory usage: 125.5 KB